img{
    width: 200px;
    height: 70px;
    margin-right: 0;
}

table{
    width: 40%;
    text-align: center
}

table th, table td{
    border: 1px solid #000;
}

#lista {
    list-style-type: none;
    padding-left: 0;
    }
